.tabRouter a {
  color: black;
}
.tabRouter a:hover {
    font-weight: bold;
    border-bottom: 3px solid #13C2C2;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

