.tabRouter a {
  text-decoration: none;
  color: black;
  padding-bottom: 3px;
  margin-right: 16px;
}
.tabRouter a:hover, .tabRouter .active {
    font-weight: bold;
}
.tabRouter .active{
    border-bottom: 3px solid #13C2C2;
}

.feat {
  color: #FF85C0;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

